.home-container {
    height: 100vh;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    background: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    //background-color: #0093E9;
    //background-image: linear-gradient(270deg, #0093E9 35%, #80D0C7 75%);
    
    //linear-gradient(to right, #cf42c6, #c143ce, #b046d6, #9c49dd, #854de4); //linear-gradient(to right, #ea80e3, #d671e2, #c063e2, #a557e3, #854de4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}